/* Normalizing  css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #000000;
    background-color: #ca9f73;
    font-size: 18px;
    padding: 20px
}

/* el-style */
.el-style {
    text-transform: uppercase;
    background-color: gray;
    text-align: center;
    margin-top: 0;
}

/* div style */
.css-style {
    background-color: #4456ee;
    padding: 20px;
    text-transform: capitalize;
}