/* banner section */
.banner {
    min-height: 97vh;
    background-image: url(../img/water-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    .wlc{
        position: relative;
        cursor: pointer;
    }
}

// text-box style
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate((-50%, -50%));
    h1{
        color: #e4e4d1;
        font-weight: 700;
        span{
            color: yellowgreen;
            font-size: 69px;
        }
    }
    h2{
        color: white;
        
    }
}