/* nav bar style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    background-color: gray;
    

    li {
        float: left;
        &:last-child{
            border-right: none;
        }
        &:nth-last-child(3){
            // // background-color: rgb(179, 248, 40);
            // border-right: none !important;
            // margin-right: 0px;
        }
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none; 
            &:hover:not(.active){
                background-color: #ffffff;
            }
        }
    }
}

li a:hover:not(.active) {
    color: black;
}

.active {
    // background-color: greenyellow;
    color: black;
    // border-radius: 10px;
    // border-left: 1.5px solid rgb(179, 248, 40);
    border-right: 1.5px solid rgb(179, 248, 40);
}