.footer{
    min-height: 60vh;
    padding-bottom: 14px;
    background-image: url(https://images.unsplash.com/photo-1544034287-c9c09e0341a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    // icons
    .icons {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // button
    .f-btn {
        position: absolute;
        width: 400px;
        top: 90%;
        left: 51%;
        transform: translate(-60%, -60%);
        padding: 10px 20px;
        font-size: 30px;
        text-transform: uppercase;
        outline: none;
        border: none;
        border-radius: 10px;
        transition: all .3s;
        &:hover{
            color: orange;
            background-color: #808080e8;
        }

    }
    // f-icon
    .f-icon{
        font-size: 30px;
        margin-left: 10px;
        color: orange;
        &:hover{
            color: rgb(117, 78, 5);
        }
    }

    // bottom-line

.bottom-line{
    width: 1100px;
    height: 3px;
    background-color: rgb(202, 133, 133);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
